* {
  margin: 0px;
}
.header {
  background-color: rgb(168, 90, 240);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top:0;
  position: fixed;
  z-index: 200;
  padding-block: 10px;
}
.logo {
  height: 30px;
  width: 30px;
}
.title {
  color: bisque;
  font-weight: 500;
  font-size: 30px;
}
.cart {
  height: 30px;
  width: 30px;
}
.btn {
  background-color: rgb(254, 254, 254);
  color: red;
  font-weight: 400;
  font-size: 20px;
  padding-inline: 15px;
  padding-block: 7px;
  border-radius: 15px;
  cursor: pointer;
}
.btn:hover {
  box-shadow:  0 0.2em 0.5em rgba(0, 0, 0, 0.25);
  background-color: black;
  color: aliceblue;
}
